
 * {
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 	font-family: 'Poppins', sans-serif;
 }
 
 h1 {
 	margin-top: 55px;
 	margin-bottom: 20px;
 	text-align: center;
 	font-size: 175%;
 }

section {
	position: relative;
	padding: 15px;
}

p {
	position: relative;
	text-align: justify;
	margin: 15px;
    padding: 25px;
} 

div {
	position: relative;
	background: gray;
	border: 3px solid black;
	width: 100%;
}
  
.title {
	float: right;
    padding: 5px;
    margin: -2.5px -2.5px 0px;
    border: 3px solid black;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    width: 100px;
}

#chicken {
	background: pink;
}

#beef {
	background: red;
}

#sushi {
	background: yellow;
}

/* BREAKPOINTS */

/* Desktop Version */
 @media (min-width: 992px) {
 	.col-lg-4 {
 		float: left;
 		width: 33.33%;
 	}
 }

/* Tablet View */

@media (min-width: 768px) and (max-width: 991px) {
	.col-lg-4 {
		width: 50%;
		float: left;
	}
	.col-sm-12 {
		width: 100%;
		float: left;
	}
}

/* Mobile View */
@media (max-width: 767px) {
  .col-lg-4 {
        float: left;
        width: 100%   
    }
}